body {
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    font-size: 25px;
    color: rgb(90, 133, 171);
}

#value {
    font-size: 30px;
}

.btn {
    border: 2px solid rgb(201, 201, 201);
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(175, 175, 175);
    font-weight: 100;
}